<form [formGroup]="patientData" (ngSubmit)="handleSubmit()">
  <div class="form-row">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" formControlName=1 required />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" formControlName=2 required />
    </div>

    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="date" id="dob" name="dob" formControlName=5 required />
    </div>

    <div class="form-group">
      <label for="medicare">Medicare Number</label>
      <input type="number" id="medicare" name="medicare" minlength="10" maxlength="10" formControlName=4 />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="bloodGroup">Blood Type</label>
      <select id="bloodGroup" name="bloodGroup" formControlName=3 required>
        <option value="">Select</option>
        <option value=1>A</option>
        <option value=2>B</option>
        <option value=3>AB</option>
        <option value=4>O</option>
      </select>
    </div>

    <div class="form-group">
      <label for="admissionReason">Admission Reason</label>
      <select id="admissionReason" name="admissionReason" formControlName=6 required>
        <option value="">Select</option>
        <option value=1>Cardiovascular</option>
        <option value=2>Diabetes</option>
      </select>
    </div>

    <div class="form-group">
      <label for="admissionDateTime">Admission Date & Time</label>
      <input type="datetime-local" id="admissionDateTime" name="admissionDateTime" formControlName=7 required />
    </div>

  </div>

    <div class="form-group">
      <label for="description">Note</label>
      <textarea id="description" name="description" formControlName=8 required></textarea>
    </div>
    <button type="submit" [disabled]="!patientData.valid">Add</button>
  </form>